# Retrieve all Datasets for Pharmacy Desert Analysis and Export to SQL Server

In [1]:
import cenpy
import pandas as pd
import numpy as np
import geopandas as gpd
import shapely
import sqlalchemy
from sqlalchemy.types import String, Integer, Numeric, VARCHAR, BigInteger
import urllib
import sys
from tqdm import tqdm

## Datasets Required

- State FIPS codes
- Center of population at block-group level (2020)
- ACS 2020 5-year estimates: block group population
- ACS 2020 5-year estimates: housing units
- TIGER/Line block group shapefiles (2020)
- Relationship file for 2020 block group to 2010 block group (may use to link ADI data)

## Get State FIPS from Census Website

In [6]:
states_url = 'https://www2.census.gov/geo/docs/reference/state.txt'
col_names = ['state_fips', 'usps_code', 'state_name']
state_codes = pd.read_csv(states_url, sep='|', header=0, names=col_names, 
                          dtype=str, usecols=[0,1,2])
state_codes.head()

  state_fips usps_code  state_name
0         01        AL     Alabama
1         02        AK      Alaska
2         04        AZ     Arizona
3         05        AR    Arkansas
4         06        CA  California

In [3]:
state_codes[50:]

   state_fips usps_code                   state_name
50         56        WY                      Wyoming
51         60        AS               American Samoa
52         66        GU                         Guam
53         69        MP     Northern Mariana Islands
54         72        PR                  Puerto Rico
55         74        UM  U.S. Minor Outlying Islands
56         78        VI          U.S. Virgin Islands

FIPS > 56 are not areas I will analyze.

In [7]:
# Keep codes only for 50 states + DC
state_codes = state_codes[:51]
state_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state_fips  51 non-null     object
 1   usps_code   51 non-null     object
 2   state_name  51 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [8]:
state_codes

   state_fips usps_code            state_name
0          01        AL               Alabama
1          02        AK                Alaska
2          04        AZ               Arizona
3          05        AR              Arkansas
4          06        CA            California
5          08        CO              Colorado
6          09        CT           Connecticut
7          10        DE              Delaware
8          11        DC  District of Columbia
9          12        FL               Florida
10         13        GA               Georgia
11         15        HI                Hawaii
12         16        ID                 Idaho
13         17        IL              Illinois
14         18        IN               Indiana
15         19        IA                  Iowa
16         20        KS                Kansas
17         21        KY              Kentucky
18         22        LA             Louisiana
19         23        ME                 Maine
20         24        MD              Maryland
21         25        MA         Massachusetts
22         26        MI              Michigan
23         27        MN             Minnesota
24         28        MS           Mississippi
25         29        MO              Missouri
26         30        MT               Montana
27         31        NE              Nebraska
28         32        NV                Nevada
29         33        NH         New Hampshire
30         34        NJ            New Jersey
31         35        NM            New Mexico
32         36        NY              New York
33         37        NC        North Carolina
34         38        ND          North Dakota
35         39        OH                  Ohio
36         40        OK              Oklahoma
37         41        OR                Oregon
38         42        PA          Pennsylvania
39         44        RI          Rhode Island
40         45        SC        South Carolina
41         46        SD          South Dakota
42         47        TN             Tennessee
43         48        TX                 Texas
44         49        UT                  Utah
45         50        VT               Vermont
46         51        VA              Virginia
47         53        WA            Washington
48         54        WV         West Virginia
49         55        WI             Wisconsin
50         56        WY               Wyoming

### Export to SQL Server

In [13]:
sql_types = {'state_fips': String(length=5), 
             'usps_code': String(length=2),
             'state_name': String(length=30)}

In [14]:
# Connect to prxsql2019ml
quoted = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=prxsql2019ml;DATABASE=PublicHealth")
engine = sqlalchemy.create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

# Export data
state_codes.to_sql('StateFips', schema='Census', con=engine, chunksize=200, 
                   method='multi', dtype=sql_types,
                   index=False, if_exists='replace')

51

## Block Group Relationship Files for 2020 vs 2010

In [7]:
rel_url = 'https://www2.census.gov/geo/docs/maps-data/data/rel2020/blkgrp/tab20_blkgrp20_blkgrp10_natl.txt'
col_names = ['geoid_2020', 'geoid_2010', 'land_area_2010', 'water_area_2010',
             'land_area_overlap', 'water_area_overlap']
bg_relationships = pd.read_csv(rel_url, sep='|', header=0, names=col_names,
                               dtype=str, usecols=[1,8,10,11,14,15])
print(bg_relationships.info())
bg_relationships.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337326 entries, 0 to 337325
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   geoid_2020          337326 non-null  object
 1   geoid_2010          337326 non-null  object
 2   land_area_2010      337326 non-null  object
 3   water_area_2010     337326 non-null  object
 4   land_area_overlap   337326 non-null  object
 5   water_area_overlap  337326 non-null  object
dtypes: object(6)
memory usage: 15.4+ MB
None

,geoid_2020,geoid_2010,land_area_2010,water_area_2010,land_area_overlap,water_area_overlap
0,010010201001,010010201001,4259443,28435,4259443,28435
1,010010201001,010010202002,1267300,5669,4856,0
2,010010201002,010010201002,5567828,0,5561005,0
3,010010202001,010010202001,2058374,0,2058374,0
4,010010202002,010010202002,1267300,5669,1262444,5669

In [6]:
# Figure out which cols I need to keep
for idx, col in enumerate(bg_relationships.columns.tolist()):
    print(idx, col)

0 OID_BLKGRP_20
1 GEOID_BLKGRP_20
2 NAMELSAD_BLKGRP_20
3 AREALAND_BLKGRP_20
4 AREAWATER_BLKGRP_20
5 MTFCC_BLKGRP_20
6 FUNCSTAT_BLKGRP_20
7 OID_BLKGRP_10
8 GEOID_BLKGRP_10
9 NAMELSAD_BLKGRP_10
10 AREALAND_BLKGRP_10
11 AREAWATER_BLKGRP_10
12 MTFCC_BLKGRP_10
13 FUNCSTAT_BLKGRP_10
14 AREALAND_PART
15 AREAWATER_PART

In [12]:
# Change data types
convert_cols = ['land_area_2010', 'water_area_2010', 'land_area_overlap',
                'water_area_overlap']
bg_relationships[convert_cols] = bg_relationships[convert_cols].astype('int64')
bg_relationships.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337326 entries, 0 to 337325
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   geoid_2020          337326 non-null  object
 1   geoid_2010          337326 non-null  object
 2   land_area_2010      337326 non-null  int64
 3   water_area_2010     337326 non-null  int64
 4   land_area_overlap   337326 non-null  int64
 5   water_area_overlap  337326 non-null  int64
dtypes: int64(4), object(2)
memory usage: 15.4+ MB

### Export to SQL Server

In [13]:
sql_types = {'geoid_2020':String(12),
             'geoid_2010':String(12),
             'land_area_2010':BigInteger(),
             'water_area_2010':BigInteger(),
             'land_area_overlap':BigInteger(),
             'water_area_overlap':BigInteger()}

In [14]:
# Connect to prxsql2019ml
quoted = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=prxsql2019ml;DATABASE=PublicHealth")
engine = sqlalchemy.create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

# Export data
bg_relationships.to_sql('BlockGroupRelationship_2020_2010', schema='Census', 
                        con=engine, chunksize=200, method='multi', 
                        dtype=sql_types, index=False, if_exists='replace')

337326

In [8]:
bg_relationships.columns.to_list()

['geoid_2020',
 'geoid_2010',
 'land_area_2010',
 'water_area_2010',
 'land_area_overlap',
 'water_area_overlap']

## Get Census Datasets for each State, Merge, and Export to SQL Server

### Get Block Group Population Centroids from Census Website

In [2]:
def get_center_pop(state_fips):
    """
    Get the Center of Population Dataset at the block group level from 
    Census URL given a state's FIPS code
    """
    # Retrieve data
    url = 'https://www2.census.gov/geo/docs/reference/cenpop2020/blkgrp/CenPop2020_Mean_BG' \
                        + state_fips + '.txt'
    col_names = ['state_fips', 'county_fips', 'tract_fips', 'bg_fips', 
                 'center_pop_lat', 'center_pop_lon']
    data = pd.read_csv(url, header=0, names=col_names,
                       dtype=str, usecols=[0,1,2,3,5,6])
    
    # Create GEOID column
    data['geoid'] = data['state_fips'] + data['county_fips'] \
                    + data['tract_fips'] + data['bg_fips']
    
    # Conver dtype of lat, lon cols
    data[['center_pop_lat', 'center_pop_lon']] = data[['center_pop_lat', 'center_pop_lon']].astype(float)
    
    return data[['geoid', 'center_pop_lat', 'center_pop_lon']]

In [180]:
# Get data
center_pop = get_center_pop('04')
center_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   geoid           4773 non-null   object
 1   center_pop_lat  4773 non-null   float64
 2   center_pop_lon  4773 non-null   float64
dtypes: float64(2), object(1)
memory usage: 112.0+ KB

In [181]:
center_pop.head()

          geoid  center_pop_lat  center_pop_lon
0  040019426001       36.683886     -109.841432
1  040019426002       36.865721     -109.848973
2  040019427001       36.918849     -109.128570
3  040019427002       36.777107     -109.575742
4  040019427003       36.839180     -109.393777

### Get ACS 2020 Population & Housing Units Datasets

- B01003_001E: Population estimates
- B01003_001M: Margin of error for population estimates
- B25001_001E: Housing unit estimates
- B25001_001M: Margin of error for housing unit estimates

In [3]:
# Connect to API
api_conn = cenpy.remote.APIConnection('ACSDT5Y2020')
api_conn

Connection to American Community Survey: 5-Year Estimates: Detailed Tables 5-Year (ID: https://api.census.gov/data/id/ACSDT5Y2020)

In [12]:
def get_acs_datasets(state_fips):
    """
    Given a state's FIPS code, retrieve ACS 2020 5-year estimates for 
    block group population and housing units using the cenpy library
    """
    # Define data to retrieve
    variables = ['GEO_ID', 
                'B01003_001E', 'B01003_001M', # Population
                'B25001_001E', 'B25001_001M'] # Housing units
    
    # Retrieve data
    data = api_conn.query(variables, 
                          geo_unit="block group:*",
                          geo_filter={'state':state_fips, 
                                      'county':'*',
                                      'tract':'*'})
    # Rename columns
    data = data.rename(columns={'state':'state_fips',
                                'B01003_001E':'population', 
                                'B01003_001M':'pop_moe',
                                'B25001_001E':'housing_units', 
                                'B25001_001M':'housing_moe'})
    
    # Fix geoid values
    data['geoid'] = data['GEO_ID'].str[-12:]
    
    # Change data types
    data[['population', 'pop_moe', 'housing_units', 'housing_moe']] = data[['population', 'pop_moe','housing_units', 'housing_moe']].astype(int)
    
    return data[['geoid', 'population', 'pop_moe', 
                 'housing_units', 'housing_moe']]

In [182]:
acs = get_acs_datasets('04')
acs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   geoid          4773 non-null   object
 1   population     4773 non-null   int32
 2   pop_moe        4773 non-null   int32
 3   housing_units  4773 non-null   int32
 4   housing_moe    4773 non-null   int32
dtypes: int32(4), object(1)
memory usage: 112.0+ KB

In [153]:
acs.head()

          geoid population pop_moe housing_units housing_moe
0  010610505004       1137     384           522         121
1  010610503006        758     339           472         230
2  010610504003        678     243           438         153
3  010610505001        787     195           398          83
4  010610506003       1591     347           663         127

### Import TIGER/Line Shapefile

Downloaded via FTP as zip files

In [13]:
def get_shapefile(state_fips):
    """
    Import block group shapefiles into a GeoDataFrame from appropriate zip
    file given a state's FIPS code and return data as DataFrame.
    """
    # Import data
    zip_path = 'zip://Data/TIGERLineShapefiles/tl_2020_' + state_fips + '_bg.zip'
    df = pd.DataFrame(gpd.read_file(zip_path)) # Use geopandas to import geometry but convert to dataframe
    
    # Rename columns
    df = df.rename(columns={'STATEFP': 'state_fips',
                            'COUNTYFP': 'county_fips',
                            'TRACTCE': 'tract_fips',
                            'BLKGRPCE': 'bg_fips',
                            'GEOID': 'geoid',
                            'ALAND':'land_area',
                            'AWATER': 'water_area', 
                            'INTPTLAT': 'centroid_lat', 
                            'INTPTLON': 'centroid_lon', 
                            'geometry': 'boundaries'})

    # Change data types for lat, lon
    df[['centroid_lat', 'centroid_lon']] = df[['centroid_lat', 'centroid_lon']].astype(float)
    df['boundaries'] = df['boundaries'].astype(str)

    # Colums to return
    cols = ['geoid', 'state_fips', 'county_fips', 'tract_fips', 'bg_fips',
            'centroid_lat','centroid_lon','land_area','water_area',
            'boundaries']
    
    return df[cols]

In [183]:
shp = get_shapefile('04')
shp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   geoid         4773 non-null   object
 1   state_fips    4773 non-null   object
 2   county_fips   4773 non-null   object
 3   tract_fips    4773 non-null   object
 4   bg_fips       4773 non-null   object
 5   centroid_lat  4773 non-null   float64
 6   centroid_lon  4773 non-null   float64
 7   land_area     4773 non-null   int64
 8   water_area    4773 non-null   int64
 9   boundaries    4773 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 373.0+ KB

In [77]:
shp.head()

,geoid,state_fips,county_fips,tract_fips,bg_fips,centroid_lat,centroid_lon,land_area,water_area,boundaries
0,220790125001,22,079,012500,1,31.260977,-92.460768,1732153,0,"POLYGON ((-92.47676 31.25906, -92.47660 31.259..."
1,220330010003,22,033,001000,3,30.458868,-91.153126,496094,0,"POLYGON ((-91.15540 30.46422, -91.15540 30.464..."
2,220330035053,22,033,003505,3,30.491510,-91.114284,1883557,0,"POLYGON ((-91.12614 30.49574, -91.12537 30.495..."
3,220330035054,22,033,003505,4,30.483303,-91.104274,1897809,0,"POLYGON ((-91.11880 30.48511, -91.11859 30.485..."
4,220330035061,22,033,003506,1,30.485563,-91.063814,1068709,0,"POLYGON ((-91.06973 30.48578, -91.06948 30.485..."

### Merge Datasets & Export to SQL Server

In [184]:
# Define data types for table in SQL Server
sql_types = {'geoid': String(12),
             'state_fips': String(5),
             'county_fips': String(5),
             'tract_fips': String(10),
             'bg_fips': String(2),
             'centroid_lat': Numeric(15,7),
             'centroid_lon': Numeric(15,7),
             'land_area': BigInteger(),
             'water_area': BigInteger(),
             'boundaries': VARCHAR(None),
             'center_pop_lat': Numeric(15,7),
             'center_pop_lon': Numeric(15,7),
             'population': Integer(),
             'pop_moe': Integer(),
             'housing_units': Integer(),
             'housing_moe': Integer()}

In [185]:
# Connect to prxsql2019ml.PublicHealth
quoted = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=prxsql2019ml;DATABASE=PublicHealth")
engine = sqlalchemy.create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

In [28]:
def merge_and_export(state_fips):
    # Use left joins in case mismatch in # of records between datasets
    block_group = pd.merge(pd.merge(shp, center_pop, how='left'), acs, how='left')
    
    # Export data
    block_group.to_sql('BlockGroup', schema='Census', con=engine, 
                       chunksize=100, method='multi', dtype=sql_types,
                       index=False, if_exists='append')
    print(f'Exported dataset for state # {state_fips} to SQL Server.\n')

In [187]:
merge_and_export('04')

Exported dataset for state # 04 to SQL Server.

## Combine functions to run in a loop

In [10]:
# Get list of state FIPS codes
state_fips_list = state_codes['state_fips'].to_list()
len(state_fips_list)

51

In [15]:
# Connect to API
api_conn = cenpy.remote.APIConnection('ACSDT5Y2020')
api_conn

Connection to American Community Survey: 5-Year Estimates: Detailed Tables 5-Year (ID: https://api.census.gov/data/id/ACSDT5Y2020)

In [16]:
# Define data types for table in SQL Server
sql_types = {'geoid': String(12),
             'state_fips': String(5),
             'county_fips': String(5),
             'tract_fips': String(10),
             'bg_fips': String(2),
             'centroid_lat': Numeric(15,7),
             'centroid_lon': Numeric(15,7),
             'land_area': BigInteger(),
             'water_area': BigInteger(),
             'boundaries': VARCHAR(None),
             'center_pop_lat': Numeric(15,7),
             'center_pop_lon': Numeric(15,7),
             'population': Integer(),
             'pop_moe': Integer(),
             'housing_units': Integer(),
             'housing_moe': Integer()}

In [17]:
# Connect to prxsql2019ml.PublicHealth
quoted = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=prxsql2019ml;DATABASE=PublicHealth")
engine = sqlalchemy.create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

In [29]:
for fips in tqdm(state_fips_list):
    try:
        # Retrieve datasets
        center_pop = get_center_pop(fips)
        acs = get_acs_datasets(fips)
        shp = get_shapefile(fips)
        
        # Get row number for each dataset
        center_pop_nrow = center_pop.shape[0]
        acs_nrow = acs.shape[0]
        shp_nrow = shp.shape[0]
        
        # Check if datasets have same # of block groups
        if center_pop_nrow == acs_nrow == shp_nrow:
            pass
        else:
            print(f"State # {fips} has mismatch in block group number between datasets.")
            print(f"center_pop row #: {center_pop_nrow}")
            print(f"acs row #: {acs_nrow}")
            print(f"shapefiles row #: {shp_nrow}")
            print()
        
        # Get final dataset and export to SQL server
        merge_and_export(fips)
    except:
        print("Oops! ", sys.exc_info()[0:2])
        print()

  2%|                                                                                 | 1/51 [00:19<16:10, 19.42s/it]

Exported dataset for state # 01 to SQL Server.

  4%|                                                                               | 2/51 [00:24<09:11, 11.26s/it]

Exported dataset for state # 02 to SQL Server.

  6%|                                                                              | 3/51 [00:37<09:38, 12.05s/it]

Exported dataset for state # 04 to SQL Server.

  8%|                                                                            | 4/51 [00:50<09:27, 12.07s/it]

Exported dataset for state # 05 to SQL Server.

 10%|                                                                          | 5/51 [02:27<32:50, 42.84s/it]

Exported dataset for state # 06 to SQL Server.

 12%|                                                                         | 6/51 [02:43<25:20, 33.78s/it]

Exported dataset for state # 08 to SQL Server.

 14%|                                                                       | 7/51 [02:52<18:45, 25.57s/it]

Exported dataset for state # 09 to SQL Server.

 16%|                                                                      | 8/51 [02:55<13:12, 18.43s/it]

Exported dataset for state # 10 to SQL Server.

 18%|                                                                    | 9/51 [02:57<09:25, 13.46s/it]

Exported dataset for state # 11 to SQL Server.

 20%|                                                                  | 10/51 [03:35<14:19, 20.96s/it]

Exported dataset for state # 12 to SQL Server.

 22%|                                                                | 11/51 [04:00<14:38, 21.97s/it]

Exported dataset for state # 13 to SQL Server.

 24%|                                                              | 12/51 [04:04<10:50, 16.68s/it]

Exported dataset for state # 15 to SQL Server.

 25%|                                                             | 13/51 [04:11<08:41, 13.72s/it]

Exported dataset for state # 16 to SQL Server.

 27%|                                                           | 14/51 [04:38<10:59, 17.83s/it]

Exported dataset for state # 17 to SQL Server.

 29%|                                                          | 15/51 [04:55<10:28, 17.45s/it]

Exported dataset for state # 18 to SQL Server.

 31%|                                                        | 16/51 [05:05<08:51, 15.18s/it]

Exported dataset for state # 19 to SQL Server.

 33%|                                                      | 17/51 [05:13<07:26, 13.13s/it]

Exported dataset for state # 20 to SQL Server.

 35%|                                                     | 18/51 [05:29<07:43, 14.04s/it]

Exported dataset for state # 21 to SQL Server.

 37%|                                                   | 19/51 [05:42<07:12, 13.53s/it]

Exported dataset for state # 22 to SQL Server.

 39%|                                                 | 20/51 [05:50<06:08, 11.89s/it]

Exported dataset for state # 23 to SQL Server.

 41%|                                                | 21/51 [06:04<06:14, 12.49s/it]

Exported dataset for state # 24 to SQL Server.

 43%|                                              | 22/51 [06:19<06:26, 13.32s/it]

Exported dataset for state # 25 to SQL Server.

 45%|                                             | 23/51 [06:41<07:25, 15.91s/it]

Exported dataset for state # 26 to SQL Server.

 47%|                                           | 24/51 [06:56<07:02, 15.64s/it]

Exported dataset for state # 27 to SQL Server.

 49%|                                         | 25/51 [07:07<06:13, 14.36s/it]

Exported dataset for state # 28 to SQL Server.

 51%|                                        | 26/51 [07:27<06:36, 15.86s/it]

Exported dataset for state # 29 to SQL Server.

 53%|                                      | 27/51 [07:34<05:22, 13.46s/it]

Exported dataset for state # 30 to SQL Server.

 55%|                                     | 28/51 [07:41<04:20, 11.33s/it]

Exported dataset for state # 31 to SQL Server.

 57%|                                   | 29/51 [07:49<03:47, 10.35s/it]

Exported dataset for state # 32 to SQL Server.

 59%|                                 | 30/51 [07:53<03:01,  8.63s/it]

Exported dataset for state # 33 to SQL Server.

 61%|                                | 31/51 [08:12<03:53, 11.66s/it]

Exported dataset for state # 34 to SQL Server.

 63%|                              | 32/51 [08:21<03:26, 10.86s/it]

Exported dataset for state # 35 to SQL Server.

 65%|                             | 33/51 [09:01<05:53, 19.63s/it]

Exported dataset for state # 36 to SQL Server.

 67%|                           | 34/51 [09:27<06:03, 21.36s/it]

Exported dataset for state # 37 to SQL Server.

 69%|                         | 35/51 [09:30<04:16, 16.02s/it]

Exported dataset for state # 38 to SQL Server.

 71%|                        | 36/51 [09:56<04:46, 19.07s/it]

Exported dataset for state # 39 to SQL Server.

 73%|                      | 37/51 [10:09<03:58, 17.07s/it]

Exported dataset for state # 40 to SQL Server.

 75%|                     | 38/51 [10:24<03:35, 16.58s/it]

Exported dataset for state # 41 to SQL Server.

 76%|                   | 39/51 [10:54<04:05, 20.44s/it]

Exported dataset for state # 42 to SQL Server.

 78%|                 | 40/51 [10:57<02:48, 15.32s/it]

Exported dataset for state # 44 to SQL Server.

 80%|                | 41/51 [11:11<02:28, 14.85s/it]

Exported dataset for state # 45 to SQL Server.

 82%|              | 42/51 [11:15<01:46, 11.78s/it]

Exported dataset for state # 46 to SQL Server.

 84%|            | 43/51 [11:33<01:48, 13.56s/it]

Exported dataset for state # 47 to SQL Server.

 86%|           | 44/51 [13:53<05:59, 51.40s/it]

Exported dataset for state # 48 to SQL Server.

 88%|         | 45/51 [14:04<03:56, 39.39s/it]

Exported dataset for state # 49 to SQL Server.

 90%|        | 46/51 [14:07<02:22, 28.49s/it]

Exported dataset for state # 50 to SQL Server.

 92%|      | 47/51 [14:30<01:47, 26.88s/it]

Exported dataset for state # 51 to SQL Server.

 94%|    | 48/51 [14:54<01:17, 25.75s/it]

Exported dataset for state # 53 to SQL Server.

 96%|   | 49/51 [15:03<00:41, 20.98s/it]

Exported dataset for state # 54 to SQL Server.

 98%| | 50/51 [15:19<00:19, 19.43s/it]

Exported dataset for state # 55 to SQL Server.

100%|| 51/51 [15:23<00:00, 18.11s/it]

Exported dataset for state # 56 to SQL Server.